.addItemOpenDialog {
    position:fixed;
    top:30px;
    right: 40px;
    z-index: 10000000;
}

.tab-pane {
    min-height: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
}


.hover-on-toolbar .toolbar {
    visibility:hidden;
}
.hover-on-toolbar:hover .toolbar {
    visibility:visible;
}

.hover-on-highlight:hover {
    background-color: #a6e1ec;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}